@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; */


/* Colors: */
/*
#A1C298  (verde)
#FBF2CF  (amarillo o crema)
#C6EBC5  (verde claro)
#FA7070  (naranja)
*/

/* 1rem = 16px */

/************************** HEADER **************************/
*{
    margin: 0;
    padding: 0;
    color: #FA7070;
}

html{
    font-size: 45%;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

header{
    background-color: #FA7070;
}

header p {
    color: #FFFFFF;
    font-size: 3.5rem;
    grid-area: header;
}

.header{
    background-image: url("../img/NombreParloteFrancofonia.png");
    background-repeat: y;
    background-position: center;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

header p{
    height: 10rem;
    width: 200rem;
    right: 0;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 3px #41463d;
}

/* nav {
    background-color: #FBF2CF;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    grid-area: nav;
}*/

/* Logo */
nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img{
    margin-left: 6rem;
    height: 8vh;
}

/* links */
.link-value {
    list-style-type: none;
    display: inline-block;
    font-size: 2.5rem;
    height: 5rem;
    margin: 20px;
}

.link-value a {
    text-decoration: none;
    font-weight: bold;
}
 
/************************** MAIN **************************/
/************* MAIN - INDEX *************/

.sectionForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgCarousel {
    height: 700px;
    object-fit: cover;
}

.carousel-item img {
    width: 50%
}


/************* MAIN - COMMENTS *************/

.myForm{
    padding: 8rem;
    margin: 2rem;
    width: 50%;
    border-radius: 2%;
    display: inline-block;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 31px 26px 28px 0px rgba(0,0,0,0.58);
}

.btnForm button{
    min-height: 20%;
}

input::placeholder {
    font: 14px/3 sans-serif;
}

.btnForm button{
    font-size: 16px;;
}

.btnForm button:hover{
    font-size:medium;
}

/************* MAIN - GALLERY *************/

section > img {
    width: 150px;
    border-radius: 4px;
}

section p {
    font-size: 2rem;
}

.gallery{
    width: 80%;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;*/
    margin: 10px;
    box-shadow: 13px 7px 22px -7px rgba(70,150,235,0.69);
}

.myForm{
    margin-left: 25%;
}


/************************** FOOTER **************************/

/* fondo del footer */
footer{
    background-color: #A1C298;
    height: 20vh;
    position: sticky;
    bottom:0;
    display: flex;
    flex-direction: column;
    grid-area: footer;
}

.info div:not(.map){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info img{
    margin-left: 6rem;
    height: 8rem;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section ul li {
    display: inline-block;
    margin: 2rem;
    font-size: 1.5rem;
}

.copyright {
    margin: auto;
    height: 1rem;
    font-size: 1rem;
}

.map {
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
}

.map img{
    height: 6vh;
}

.copyright span {
    font-weight: bold;
}

